@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&family=Titillium+Web:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    background-color: #5591c5;
}

header {
    width: 100%;
    height: auto;
    background-color: #5591c5;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;    
}

.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12rem;
    height: 3.1rem;
    margin-left: 20px;
}

.brand h1 {
    font-size: 2.2rem;
    color: #fff;
}

.brand h2 {
    font-size: 0.5rem;
    color: #fff;
    float: right;
}

.logo_bairesteel img {
    width: 3rem;
    margin-left: 20px;
}

.main {
    width: 100%;
    height: 90vh;
    min-height: 600px;
    position: relative;
}

.portada {
    background-image: url(../img/portada.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -10;
}

.slogan {
    width: 50%;
    height: 100%;
    background-color: rgba(73, 71, 71, 0.2);
    color: rgb(226, 223, 223);
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-top: 5%;
    transform: translateX(20%);
    animation: slogan_aparicion .7s linear;
    transform: translateX(0%);
}

@keyframes slogan_aparicion {
    0% {transform: translateX(17%);}
    25% {transform: translateX(12%);}
    50% {transform: translateX(8%);}
    75% {transform: translateX(4%);}
    100% {transform: translateX(0%);}
}


.intro {
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.calidad, .innovacion, .servicio {
    font-size: 3rem;
    margin: 2%;
}

.calidad {
    color: rgb(94, 92, 92);
}

.lema {
    font-size: 1.2rem;
    margin-top: 3%;
    max-width: 70%;
}

.enlaces ul {
    list-style: none;
    display: flex;
    margin-bottom: 10vh;
    cursor: pointer;
}

.enlaces ul li {
    background-color: #5591c5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 5%;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    transition: 400ms ease;
}

.enlaces ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    transition: 400ms ease;
}

.enlaces ul li:hover {
    background-color: rgb(255, 255, 255);;
}

.enlaces ul li:hover a {
    color:#5591c5;
}

.productos {
    background-color: rgb(226, 223, 223);  
}

.productos h3 {
    font-size: 2rem;
    color: rgb(94, 92, 92);  
    text-align: center;
    padding-top: 4%;
}

.centrado_tarjetas {
    display: flex;
    justify-content: center;
}

.contenedor_tarjetas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 3%;
    padding-bottom: 3%;
}

.contenedor_tarjetas .tarjeta {
    position: relative;
    width: 350px;
    height: 450px;
    margin-bottom: 3%;
    border-radius: 30px;
}


.contenedor_tarjetas .tarjeta .frente {
    overflow: hidden;
    backface-visibility: hidden;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: perspective(1000px) rotateY(0deg);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    transition: 300ms ease;

}

.contenedor_tarjetas .tarjeta .vallas {
    background-image: url(../img/vallas.jpg);
}

.contenedor_tarjetas .tarjeta .griferia {
    background-image: url(../img/griferia.jpg);
}

.contenedor_tarjetas .tarjeta .industrial {
    background-image: url(../img/industrial.jpg);
}

.contenedor_tarjetas .tarjeta .buloneria {
    background-image: url(../img/buloneria.jpg);
}

.contenedor_tarjetas .tarjeta .chapas {
    background-image: url(../img/chapas.jpg);
}

.contenedor_tarjetas .tarjeta .perfileria {
    background-image: url(../img/perfiles.jpg);
}

.nombre_tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background-color: rgba(85, 145, 197, 0.9);
}

.nombre_tarjeta p {
    font-size: 1.2rem;
    color: #fff;
}

.reverso {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #5591c5;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    transform: perspective(1000px) rotateY(180deg);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    transition: 300ms ease;
}

.reverso .descripcion p {
    margin-top: 15px;
}

.reverso .descripcion p a {
    text-decoration: none;
    color: #fff;
    transition: 300ms ease;
}

.reverso .descripcion p a:hover {
    color: rgb(94, 92, 92); 
}

.tarjeta:hover .frente {
    transform: perspective(1000px) rotateY(180deg);
}

.tarjeta:hover .reverso {
    transform: perspective(1000px) rotateY(360deg);
}

.separador {
    border-top: 10px solid rgb(94, 92, 92);
    height: 2px;
    max-width: 700px;
    padding: 0;
    margin: auto;
    background-color: rgb(226, 223, 223);
}

.directivos {
    background-color: rgb(240, 238, 238); 
}

.directivos h3 {
    font-size: 2rem;
    color: rgb(94, 92, 92);  
    text-align: center;
    padding-top: 4%;
}

.tarjeta_directivo {
    position: relative;
    width: 350px;
    height: 450px;
    margin-bottom: 3%;
    border-radius: 30px;
    margin: 15px 20px;
}

.tarjeta_directivo img {
    width: auto;
    height: 400px;
    position: absolute;
    top: 0;
    left: 30px;
    filter: drop-shadow(10px 10px 4px #00000542);
    transition: 400ms ease;
}

.tarjeta_directivo .info {
    position: absolute;
    bottom: 0;
    background-color: #5591c5;
    width: 100%;
    height: 25%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.tarjeta_directivo .info h4 {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 10px;
}

.tarjeta_directivo .info h5 {
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
}

.tarjeta_directivo .info a {
    color: #0b4966;
    display: inline-block;
    margin-top: 10px;
    transition: 300ms ease;
}

.tarjeta_directivo .info a:hover {
    color: #fff;
}

.tarjeta_directivo:hover img {
    transform: scale(1.1);
    filter: none;
}

.contactenos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
}

.contactenos h3 {
    font-size: 2rem;
    color: rgb(94, 92, 92);  
    text-align: center;
    padding-top: 4%;
    margin-bottom: 3%;
}

.centrado_contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: auto;
    padding-bottom: 40px;
    border-radius: 30px;
    background-color: rgb(226, 223, 223);
    color: rgb(94, 92, 92);
}

.ubicacion {
    font-size: 1.4rem;
    right: 10%;
    margin-top: 50px;
}

.ubicacion iframe {
    margin-top: 10px;
    width: 350px;
    height: 350px;
}

.formulario {
    left: 10%;
}

label {
    width: 100px;
    display: inline-block;
}

input {
    border: none;
    padding: 10px;
}

textarea {
    border: none;
    width: 100%;
    height: 70px;
    padding: 10px;
    min-height: 60px;
    max-height: 300px;
    resize: vertical;
}

#contador_caracteres {
    font-size: 0.6rem;
    float: right;
}

#errores_formulario {
    color: rgb(238, 9, 9);
    font-size: 0.8rem;
    padding-bottom: 5px;
}

#submit {
    color: #fff;
    background-color: #5591c5;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms ease;
}

#submit:hover {
    color: #5591c5;
    background-color: #fff;
}

.formulario div {
    margin: 5px 0;
}

.formulario h4 {
    font-size: 1.4rem;
    margin-top: 50px;
    margin-bottom: 25px;
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(54, 50, 50);
    color: rgb(241, 236, 236);
}

.footer_recepcion {
    position: absolute;
    bottom: 0;
}

.info_contacto {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.info_contacto {
    font-size: 0.9rem;
}

.redes .enlaces_redes {
    margin-top: 10px;
}

.redes .enlaces_redes a {
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    margin: 5px;
    transition: 300ms ease;
}

#insta_logo:hover {
    color: #e22fb5;
}

#facebook_logo:hover {
    color: #0f5c80;
}

#youtube_logo:hover {
    color: rgb(238, 25, 25);
}

#linkedin_logo:hover {
    color: #14709b;
}

.copyright {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #fff;
}

.recepcion {
    display: flex;
    margin-top: 18vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.recepcion_mensaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 150px;
    text-align: center;
    background-color: rgb(226, 223, 223);
    border-radius: 30px;
}

.recepcion_mensaje h1 {
    margin-bottom: 10px;
}

@media all and (max-width:1000px) {
    .main {
        width: 100%;
        height: auto;
        min-height: 500px;
        position: relative;
    }

    .slogan {
        width: 80%;
        height: 100%;
        background-color: rgba(73, 71, 71, 0.2);
        color: rgb(226, 223, 223);
        display: flex;
        flex-direction: column;
        padding-left: 7%;
        padding-top: 10vh;
        transform: translateX(20%);
        animation: slogan_aparicion .7s linear;
        transform: translateX(0%);
    }
}


@media all and (max-width:500px) {
    .main {
        width: 100%;
        height: auto;
        position: relative;
    }

    .slogan {
        width: 100%;
        height: auto;
        background-color: rgba(73, 71, 71, 0.4);
        color: rgb(226, 223, 223);
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-top: 9vh;
        animation: none
    }
    
    .intro {
        font-size: 1.3rem;
        margin-bottom: 5%;
    }
    
    .calidad, .innovacion, .servicio {
        font-size: 2.7rem;
        margin: 2%;
    }
    
    .calidad {
        color: rgb(94, 92, 92);
    }
    
    .lema {
        font-size: 1.1rem;
        margin-top: 3%;
        max-width: 80%;
    }

    .enlaces ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .centrado_contacto {
        width: 92%;
    }

    .ubicacion iframe {
        margin-top: 10px;
        width: 300px;
        height: 300px;
    }

    .info_contacto {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-top: 20px;
    }

    .redes {
        margin-top: 10px;
    }

    .copyright {
        font-size: 0.7rem;
        text-align: center;
        margin-top: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #fff;
    }

    .recepcion_mensaje {
        width:80%;
        height: 150px;
    }
}

@media all and (max-width:389px) {
    .main {
        width: 100%;
        height: auto;
        position: relative;
    }

    .slogan {
        width: 100%;
        height: auto;
        background-color: rgba(73, 71, 71, 0.4);
        color: rgb(226, 223, 223);
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-top: 9vh;
        animation: none
    }
    
    .intro {
        font-size: 1.1rem;
        margin-bottom: 5%;
    }
    
    .calidad, .innovacion, .servicio {
        font-size: 2.3rem;
        margin: 2%;
    }
    
    .calidad {
        color: rgb(94, 92, 92);
    }
    
    .lema {
        font-size: 1rem;
        margin-top: 3%;
        max-width: 80%;
    }

    .contenedor_tarjetas .tarjeta {
        transform: scale(0.9);
    }

    .tarjeta_directivo {
        transform: scale(0.9);
    }

    .tarjeta_directivo img {
        left: 20px;
        transform: scale(0.9);
    }

    .contenedor_tarjetas {
        max-width: 100vw;
    }

    .enlaces ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .centrado_contacto {
        width: 92%;
    }

    .ubicacion iframe {
        margin-top: 10px;
        width: 300px;
        height: 300px;
    }

    .info_contacto {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-top: 20px;
    }

    .redes {
        margin-top: 10px;
    }

    .copyright {
        font-size: 0.7rem;
        text-align: center;
        margin-top: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #fff;
    }

    .recepcion_mensaje {
        width:80%;
        height: 150px;
    }
}

@media all and (max-height:435px) and (orientation:landscape) {

.footer_recepcion {
    position: relative;
    margin-top: 20vh;
}
}