<footer>
    <div class="info_contacto">
        <div class="direccion">
            <p>Av. Juana Manso 1256 - CABA</p>
            <p>Telefono: (+54) 11 4305-2658</p>
            <p>Horarios: Lunes a Viernes 8:00 a 17:00</p>
        </div>

        <div class="redes">
            <h5>Seguinos en nuestras redes:</h5>
            <div class="enlaces_redes">
                <a href="#" id="insta_logo"><i class="fa fa-instagram"></i></a>
                <a href="#" id="facebook_logo"><i class="fa fa-facebook"></i></a>
                <a href="#" id="youtube_logo"><i class="fa fa-youtube"></i></a>
                <a href="#" id="linkedin_logo"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <h4>Todos los derechos reservados. Martín Giusti 2022</h4>
    </div>

</footer>